<div class="container mx-auto px-4 py-4 mb-10 lg:mb-0">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-1 mb-4">
    <!-- User Info Section -->
    <div class="user-info relative flex col-span-12 lg:col-span-2 justify-between items-center bg-gray-800 hover:bg-gray-700 text-white rounded-xl shadow-lg p-4 gap-4">
      <div class="w-full flex flex-col justify-center items-start text-left">
        <div class="grid grid-cols-4 gap-4">
          <div class="col-span-3">
            <p class="font-bold text-xl mb-2 text-gray-100">
              <small class="font-medium text-sm text-gray-400">Points:</small> {{ points.toFixed(0) }}
            </p>
            <div *ngIf="currentAchievement" class="flex justify-between align-center">
              <p class="font-bold text-lg mb-2 text-gray-100">
                <small class="font-medium text-sm text-gray-400">Level:</small> {{ currentAchievement.name }}
              </p>
            </div>
            <div *ngIf="!currentAchievement">
              <p class="text-gray-400">No achievements unlocked yet.</p>
            </div>
          </div>
        </div>
        <!-- Most Recent Workout -->
        <div *ngIf="mostRecentWorkout">
          <p class="font-bold text-lg mb-2 capitalize text-gray-100">
            <small class="font-medium text-sm text-gray-400">Last activity:</small> {{ mostRecentWorkout.name }} ({{ getDaysAgo(mostRecentWorkout.completedAt.toDate()) }})
          </p>
        </div>
      </div>
      <!-- Achievement Badge -->
      <img *ngIf="currentAchievement.badgeUrl"
        [src]="currentAchievement.badgeUrl"
        alt="{{ currentAchievement.name }} Badge"
        class="w-10 h-10 md:w-14 md:h-14 absolute right-0 top-0 m-4 rounded-full shadow-md bg-gray-700 border border-gray-600" />
    </div>

    <!-- Time Tracker -->
    <div class="col-span-6 lg:col-span-1 flex flex-col justify-center items-center bg-gray-800 hover:bg-gray-700 text-white rounded-xl shadow-lg p-4">
      <i class="text-green-600 fa-regular fa-clock text-3xl mb-2"></i>
      <div class="text-center">
        <p class="font-bold text-xl md:text-2xl mb-1 text-gray-100">{{ totalTimeSpent }}</p>
        <p class="text-sm text-gray-400">Total Time</p>
      </div>
    </div>

    <!-- Workouts Done -->
    <div class="col-span-6 lg:col-span-1 flex flex-col justify-center items-center bg-gray-800 hover:bg-gray-700 text-white rounded-xl shadow-lg p-4">
      <i class="text-green-600 fa-solid fa-dumbbell text-3xl mb-2"></i>
      <div class="text-center">
        <p class="font-bold text-xl md:text-2xl mb-1 text-gray-100">{{ numberOfWorkoutsDone }}</p>
        <p class="text-sm text-gray-400">Workouts done</p>
      </div>
    </div>
  </div>

  <!-- Trackers Section -->
  <div class="trackers grid grid-cols-auto lg:grid-cols-3 gap-2 gap-4 mt-2 mb-4">
    <app-weight-tracker [isMetric]="isMetric"></app-weight-tracker>
    <app-steps-tracker [isMetric]="isMetric" [stepGoal]="stepGoal"></app-steps-tracker>
    <app-calories-tracker [caloriesGoal]="caloriesGoal" [caloriesBurnedToday]="caloriesBurnedToday"></app-calories-tracker>
  </div>

  <!-- Charts & Body Stats -->
  <div class="stats grid grid-cols-auto lg:grid-cols-3 gap-4 mt-2 mb-4">
    <app-charts class="lg:col-span-2" [userId]="userId" (chartReady)="onChartReady()"></app-charts>
    <app-body-stats></app-body-stats>
  </div>
</div>
