<div class="container mx-auto px-4 py-4">

  <!-- Filters -->
  <app-exercise-filter
    [muscles]="muscles"
    [equipments]="equipments"
    [categories]="categories"
    [exercises]="exercises"
    (filteredExercises)="updateFilteredExercises($event)"> 
  </app-exercise-filter>

  <!-- Loading -->
  <div *ngIf="loading" class="p-6 flex justify-center items-center">
    <i class="fa-solid fa-circle-notch fa-spin text-green-600 text-8xl"></i>
  </div>

   <!-- Exercise List with Scrollable Container -->
  <div class="exercise-list-container h-screen overflow-y-auto" (scroll)="onScroll($event)">
    <div class="gradient-overlay"></div>
    <div *ngIf="!loading" class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let exercise of displayedExercises" class="bg-gray-800 rounded-xl shadow-lg transition-transform transform hover:bg-gray-700 lg:max-h-96"
        (mouseenter)="startImageSwitch(exercise)"
        (mouseleave)="stopImageSwitch(exercise)">
        <div class="relative h-1/2">
          <img [src]="'https://raw.githubusercontent.com/yuhonas/free-exercise-db/main/exercises/' + currentImage(exercise)"
            alt="{{ exercise.name }}" 
            class="w-full h-full object-cover transition-opacity duration-1000 ease-in-out rounded-t-xl grayscale"> 
          <div class="absolute inset-0 bg-gradient-to-t from-sky-800 to-transparent opacity-50"></div>
          <button class="absolute bottom-2 right-2 p-2" (click)="openWorkoutSelection(exercise)">
            <i class="fa-solid fa-circle-plus text-white text-3xl"></i>        
          </button>
        </div>
        <div class="p-4">
          <h3 class="text-lg text-white font-bold mb-2">{{ exercise.name }}</h3>
          <p class="text-sm text-gray-300 mb-2 capitalize"><strong>Category:</strong> {{ exercise.category }}</p>
          <p class="text-sm text-gray-300 mb-2 capitalize"><strong>Primary Muscles:</strong> {{ exercise.primaryMuscles.join(', ') }}</p>
          <button class="my-2 bg-green-600 text-white font-bold px-4 py-2 rounded-full transition duration-200 hover:bg-green-600" (click)="viewExercise(exercise)">View Exercise</button>
        </div>
      </div>
    </div>

    <!-- Loading More -->
    <div *ngIf="loadingMore" class="p-6 flex justify-center items-center">
      <i class="fa-solid fa-circle-notch fa-spin text-green-600 text-4xl"></i>
      <p class="ml-4 text-gray-300">Loading more exercises...</p>
    </div>
  </div>

  <!-- Details Modal -->
  <app-exercise-details 
    [selectedExercise]="selectedExercise"
    [showModal]="showModal" 
    (close)="closeDetailsModal()"
    *ngIf="showModal">
  </app-exercise-details>

  <!-- Workout Modal -->
  <app-exercise-add 
    [showWorkoutSelectionModal]="showWorkoutSelectionModal" 
    [selectedExercise]="selectedExercise"
    [userId]="userId"
    (close)="closeWorkoutSelectionModal()"
    *ngIf="showWorkoutSelectionModal">
  </app-exercise-add>

</div>
