.highlighted {
  fill: red; /* Change color to red, or any color you prefer */
  opacity: 0.5; /* Optional: make it slightly transparent */
}
.healed {
  fill: green;
  opacity: 0.5;
}
.healing {
  fill: orange;
  opacity: 0.5;
}