<div class="container calendar mx-auto px-4 py-4 mb-32 lg:mb-0">
  <full-calendar #calendar class="fc" [options]="calendarOptions">
    <ng-template #tooltipTemplate let-workoutId="workoutId" class="z-50">
      <div class="fc-tooltip">
        <button 
          class="start-button tooltip-button" 
          (click)="startWorkout(workoutId); $event.stopPropagation();">
          <i class="fa-solid fa-play"></i> Start
        </button>
        <hr>
        <button 
          class="delete-button tooltip-button" 
          (click)="deleteWorkoutFromDate(workoutId); $event.stopPropagation();">
          <i class="fa-regular fa-trash-can"></i> Delete
        </button>
      </div>
    </ng-template>
  </full-calendar> 
  <!-- Workout Selection Modal -->
  <div *ngIf="selectedDate" class="fixed inset-0 z-50 flex items-center justify-center p-8">
    <div class="bg-gray-800 text-white rounded-xl shadow-lg p-8 relative max-w-4xl w-full z-50">
      <h2 class="text-2xl font-bold mb-4">Add Workout to {{ selectedDate | date:'fullDate' }}</h2>
      <select [(ngModel)]="selectedWorkout" class="w-full p-2 rounded-md bg-gray-700 text-white">
        <option *ngFor="let workout of workouts" [ngValue]="workout">{{ workout.name }}</option>
      </select>
      <input type="time" [(ngModel)]="selectedTime" class="w-full mt-4 p-2 rounded-md bg-gray-700 text-white">
      <div class="flex justify-end gap-4 mt-4">
        <button (click)="addWorkoutToDate()" class="bg-green-600 text-white font-bold px-4 py-2 rounded-full w-full">
          Add Workout
        </button>
        <button (click)="cancelSelection()" class="bg-gray-400/50 text-white font-bold px-4 py-2 rounded-full w-full">
          Cancel
        </button>
      </div>
      <button class="absolute top-4 right-4 text-white text-2xl" (click)="cancelSelection()"><i class="fa-solid fa-x"></i></button>
    </div>
    <div class="fixed inset-0 bg-black opacity-50 z-40" (click)="cancelSelection()"></div>
  </div>
</div>
