<div class="login flex flex-col items-center justify-center h-screen w-screen relative overflow-hidden">
  <!-- Video Background -->
  <div class="absolute inset-0 z-0">
    <video autoplay muted playsinline class="absolute w-full h-full object-cover" id="video1">
      <source src="./assets/videos/barbell.mp4" type="video/mp4">
    </video>
    <video muted playsinline class="absolute w-full h-full object-cover" id="video2">
      <source src="./assets/videos/pushups.mp4" type="video/mp4">
    </video>
    <video muted playsinline class="absolute w-full h-full object-cover" id="video3">
      <source src="./assets/videos/running.mp4" type="video/mp4">
    </video>
    <video muted playsinline class="absolute w-full h-full object-cover" id="video4">
      <source src="./assets/videos/pullups.mp4" type="video/mp4">
    </video>
  </div>

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black opacity-50 z-10"></div>

 <!-- Login Card -->
  <div class="relative z-20 flex flex-col rounded-xl shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-gray-800 text-white p-6 space-y-8">
    <div class="font-black text-4xl flex flex-col justify-center items-center bg-clip-text text-transparent bg-gradient-to-r from-green-800 via-green-600 to-green-300 animate-text">
      <img src="./assets/logo.svg" alt="logo" class="w-12 h-12"> 
      <p orbitron class="orbitron">CoreUp</p> 
    </div>
    <div class="text-center text-xl font-semibold italic">
      "{{ currentQuote }}"
    </div>
    <h1 class="text-4xl text-center font-thin">Welcome Back!</h1>
    <p class="text-center text-sm mb-4">Seamless integration with Google Fit!</p>
    <button class="flex items-center justify-center bg-red-600 hover:bg-red-700 text-white text-sm font-semibold py-2 px-4 rounded-full mt-6" (click)="loginWithGoogle()">
      <i class="fab fa-google mr-2"></i> Sign in with Google
    </button>
    <div class="text-center text-sm mt-4">
      <a href="/about" class="text-gray-400 hover:underline">About Us</a> | 
      <a href="/contact" class="text-gray-400 hover:underline">Contact</a>
    </div>
  </div>
</div>
