<div class="container mx-auto px-4 py-4">
  <div class="workouts">
    <div *ngIf="workouts" class="flex flex-col items-center gap-6 my-6 w-full">
      
      <!-- Individual Workout -->
      <div *ngFor="let workout of workouts" 
           class="flex flex-col md:flex-row justify-between items-center bg-gray-800 text-white rounded-xl w-full p-6 shadow-md transition-all duration-300 ease-in-out hover:bg-gray-700 hover:shadow-xl">
        <h3 class="workout-name text-xl font-bold capitalize tracking-wide">{{ workout.name }}</h3>

        <!-- Action Buttons -->
        <div class="flex gap-4 mt-4 md:mt-0">
          <button class="bg-gray-700 border-2 border-green-600 text-white font-bold uppercase px-4 py-2 rounded-full w-10 h-10 flex justify-center items-center gap-2" (click)="startWorkout(workout)">
            <i class="fa-solid fa-play text-gray-400 hover:text-white"></i>
          </button>
          <button class="bg-gray-700 border-2 border-gray-400 text-white font-bold uppercase px-4 py-2 rounded-full w-10 h-10 flex justify-center items-center gap-2" (click)="editWorkout(workout)">
            <i class="fa-solid fa-pencil text-gray-400 hover:text-white"></i>
          </button>
          <button class="bg-gray-700 border-2 border-red-600 transition-all duration-300 text-white font-bold uppercase px-4 py-2 rounded-full w-10 h-10 flex justify-center items-center gap-2" (click)="deleteWorkout(workout.id)">
            <i class="fa-solid fa-trash text-gray-400 hover:text-white"></i>
          </button>
        </div>
      </div>

      <!-- Call to Action for Exercises -->
      <div class="text-white text-center border-2 border-dotted border-white rounded-xl w-full p-6 bg-gray-800 hover:bg-gray-700 transition-all duration-300 ease-in-out">
        Visit <a class="font-semibold uppercase underline text-green-600 hover:text-green-700 transition-all duration-300" routerLink="/exercises">Exercises</a> to add more exercises or create a new workout!
      </div>
    </div>
  </div>
  
  <app-edit-workout-modal 
    *ngIf="editingWorkout" 
    [editingWorkout]="editingWorkout">
  </app-edit-workout-modal>

  <app-start-workout-modal
    *ngIf="startingWorkout"
    [userWeight]="profileData.weight" 
    [startingWorkout]="startingWorkout"
    [currentExerciseIndex]="currentExerciseIndex"
    [progress]="progress"
    [restTimeRemaining]="restTimeRemaining"
    [isResting]="isResting"
    [timer]="timer"
    [earnedBadges]="earnedBadges"
    [elapsedSeconds]="elapsedSeconds"
    [countdownDuration]="countdownDuration"
    [countdown]="countdown"
    [isCountdownActive]="isCountdownActive"
    [showConfirmCancelModal]="showConfirmCancelModal">
  </app-start-workout-modal>
</div>
