<div class="charts p-4 bg-gray-800 text-white rounded-xl shadow-lg hover:bg-gray-700 transition-all">
  <div class="chart-container">
    <apx-chart
      [series]="mixedChartOptions.series"
      [chart]="mixedChartOptions.chart"
      [xaxis]="mixedChartOptions.xaxis"
      [yaxis]="mixedChartOptions.yaxis"
      [title]="mixedChartOptions.title"
      [legend]="mixedChartOptions.legend"
      [tooltip]="mixedChartOptions.tooltip"
      [stroke]="mixedChartOptions.stroke"
      [fill]="mixedChartOptions.fill"
      [markers]="mixedChartOptions.markers"
    ></apx-chart>
  </div>
</div>
