@use '@angular/material' as mat;

@include mat.core();

$fit-me-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($fit-me-theme);
}

@import "./app/components/dashboard/dashboard.component.scss";
@import "./app/components/exercises/exercises.component.scss";
@import "./app/components/workouts/workouts.component.scss";
@import "./app/components/dashboard/body-stats/body-stats.component.scss";
@import "./app/components/dashboard/charts/charts.component.scss";
@import "./app/components/login/login.component.scss";
@import "./app/components/calendar/calendar.component.scss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; }
.container {
  @media (max-width: 768px) {
    padding-bottom: 5rem;
  }
}
.toast-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 9999 !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .ngx-toastr {
    box-shadow: none !important;
    border-radius: 12px !important;
    padding: 15px;
    color: white;  
    opacity: 0.8;
    &.toast-info {
      background-color: #0891b2;
    }  
    &.toast-success {
      background-color: #047857;
    }
    &.toast-warning {
      background-color: #f59e0b;
    }
    &.toast-error {
      background-color: #7f1d1d;
    }
  }
}

.tooltip {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  pointer-events: none;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%; /* Place the arrow above the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}
